<center>
    <img style="float: left;" src="Mix_colour.png" width="200"></img>
</center>

<br/><br/>
<br/><br/>

# Python and ``pandas``.

In this notebook you will practice your Python skills and will start using ``pandas`` to work with data.

## Data

Within this notebook you will work with the dataset ``temperatures.csv``, similar to the one you have already seen (however not exactly the same!). Recall, that this dataset contains weather data from various meteorological stations in Sweden.

### Q1:

Import the library ``pandas`` using the shortcut ``pd`` and load the dataset ``temperatures.csv``.

**Hints:**
* Import the package as pd
* Use ``temperatures_df = pd.read_csv()`` to load data from the path ''/home/jovyan/Data/temperatures.csv''

In [29]:
# (approx. 2 lines of code)
### START ANSWER HERE ###
import pandas as pd
temperatures_df = pd.read_csv("/home/jovyan/Data/temperatures.csv")
### END ANSWER HERE ###

In [30]:
temperatures_df.head(3)

   temperature station_name        date      time
0         -2.4   Arjeplog A  1949-01-01  06:00:00
1         -3.1   Arjeplog A  1949-01-01  12:00:00
2         -3.2   Arjeplog A  1949-01-01  18:00:00

**Expected Output**: 
<table style = "width:40%">
    <tr>
    <td>temperature</td> 
    <td>station_name </td> 
    <td>date </td> 
    <td>time </td> 
    </tr>
    <tr>
    <td>-2.4</td> 
    <td>Arjeplog A </td> 
    <td>1949-01-01 </td> 
    <td>06:00:00 </td> 
    </tr>
    <tr>
    <td>-3.1</td> 
    <td>Arjeplog A </td> 
    <td>1949-01-01 </td> 
    <td>12:00:00 </td> 
    </tr>
    <tr>
    <td>-3.2</td> 
    <td>Arjeplog A </td> 
    <td>1949-01-01 </td> 
    <td>08:00:00 </td> 
    </tr>
</table>

In [31]:
# nbgrader cell

## Basic data exploration

Now let's get more familiar with the dataset. As you have already seen this data contains temperatures, station names, date and time of the measurement.

### Q2: 

Check what is the shape of the dataframe and save the number of rows and the number of columns in the variables `` num_row``  and ``num_col`` respectively.
Use the  ``temperatures_df.shape``. Recall from the reading material, that the shape of the dataframe is returned in form of a tuple, whose elements you can access using square brackets and the index of the desired element. 

**Hint:**
* Use ``num_row = temperatures_df.shape[]``, ``num_col = temperatures_df.shape[]`` with correct index in the brackets. Remember, that indexing in Python starts from 0.

In [33]:
# (approx. 2 lines of code)
### START ANSWER HERE ###
num_row, num_col = temperatures_df.shape
### END ANSWER HERE ###

print('Number of rows: %i, number of columns: %i' %(num_row, num_col))

Number of rows: 1132783, number of columns: 4

In [35]:
import hashlib
from scipy.stats import ttest_ind
_myhash = lambda x: hashlib.md5(str(x).encode()).hexdigest()
if _myhash(num_row)!='d1667eab5d9d1be8c378f1a5004fc2d2':
    print('Not correct! Please try again!')
elif _myhash(num_col)!='a87ff679a2f3e71d9181a67b7542122c':
    print('Not correct! Please try again!')
else:
    print('Correct!')

Correct!

In [36]:
# nbgrader cell

Now we want to output summary about the dataframe. First, let's look into the information about index, types of the columns and memory usage.

In [37]:
temperatures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132783 entries, 0 to 1132782
Data columns (total 4 columns):
temperature     1132783 non-null float64
station_name    1132783 non-null object
date            1132783 non-null object
time            1132783 non-null object
dtypes: float64(1), object(3)
memory usage: 34.6+ MB

As you see above we have only one numerical column. Let's get descriptive statistics for that column.

In [38]:
temperatures_df['temperature'].describe()

count    1.132783e+06
mean     5.972029e+00
std      8.948195e+00
min     -4.300000e+01
25%      4.000000e-01
50%      5.800000e+00
75%      1.300000e+01
max      3.730000e+01
Name: temperature, dtype: float64

Note that we also could use ``temperatures_df.describe()``.

In this case we would get the same result, however if our data contained more than one numerical column, we would get descriptive statistics for all of them. 

***

As you might have noticed the temperatures dataset we used in Chapter 1 was a bit different. Thus, let's repeat some basic data exploration for extended dataset and see, if we get any different results. 

First question we want to get the answer to is how many weather stations are in the data?

### Q3:

In the cell below there is the code that uses a basic Python method in order to count the number of different stations in the column ``station_name``. This code contains several mistakes and won't work the way it is written. Please, correct the mistakes and run the code.

**Hint:**

Recall what kind of possible mistakes we discussed in the reading material. Check the variables names, ``for``-loop syntax, ``if``-statement syntax, indentations, lists in Python. 

When you will run the cell with mistakes you will get error messages. Check them! Even though sometimes these messages are not very clear, they can be very useful for debugging your code.

**Important note!**

In the cell below you will see ### START CODE HERE ### and ### END CODE HERE ### flags. These are dummies that are made in order to allow you to make changes in this cell. Don't worry about these flags. In this particular question you don't need to write any code between them.

In [39]:
%%time
### START ANSWER HERE ###
### END ANSWER HERE ###

counter = 0
stations = []
for station_name in temperatures_df['station_name']:
    if station_name not in stations:
        counter = counter + 1
        stations.append(station_name)

CPU times: user 460 ms, sys: 385 µs, total: 460 ms
Wall time: 457 ms

In [40]:
counter

40

Compare this number with the number of various stations we get using ``pandas`` functionality, you should get the same result. 

Note how much faster it works than the previous method!

In [41]:
%%time
temperatures_df['station_name'].nunique()

CPU times: user 46.4 ms, sys: 5.01 ms, total: 51.5 ms
Wall time: 48.2 ms

40

In [42]:
# nbgrader cell

## Work with dates

Our dataset contains two string columns to store date and time of the observation. Let's convert them to one column of the type ``datetime``. We will call this column with the same name "datetime". After creating a new column we want to get rid of the old date and time columns since we don't need them anymore. Look to the code below. Executing of the cell might take some time since the dataset is quite large.

In [43]:
temperatures_df['datetime'] = pd.to_datetime(temperatures_df['date']+' '+temperatures_df['time'])
temperatures_df = temperatures_df.drop(['date','time'], axis=1)

In [44]:
temperatures_df.head(5)

   temperature station_name            datetime
0         -2.4   Arjeplog A 1949-01-01 06:00:00
1         -3.1   Arjeplog A 1949-01-01 12:00:00
2         -3.2   Arjeplog A 1949-01-01 18:00:00
3         -2.3   Arjeplog A 1949-01-02 06:00:00
4         -0.6   Arjeplog A 1949-01-02 12:00:00

### Q4:

During which period data was collected? 

**Hints:**
* use ``.min()`` and ``.max()`` methods of the dataframe for the column ``datetime``
* store the result in variables ``first_date`` and ``last_date``

In [45]:
# (approx. 2 lines of code)
### START ANSWER HERE ###
first_date = temperatures_df['datetime'].min()
last_date = temperatures_df['datetime'].max()
### END ANSWER HERE ###

print(first_date)
print(last_date)

1848-06-05 05:00:00
1949-12-31 21:00:00

**Expected Output**: 
<table style = "width:40%">
    <tr>
    <td>1848-06-05</td> 
    <td>05:00:00 </td> 
   </tr>
    <tr>
    <td>1949-12-31</td> 
    <td>21:00:00 </td> 
   </tr>
</table>

In [ ]:
# nbgrader cell

## Filter, Sort and Groupby

As you have seen above, data was collected over really long time. As the last exercise in this assignment, let's see what was going on with the weather in the 19-th century. In particular, according to the dataset, how many stations existed in Sweden before 1900-01-01, what was the mean, the lowest and the highest temperatures registered at each of those stations.

### Q5:

We are providing the code for you to answer the above question, however this time there are some gaps we marked with  ``None`` in the code, that you need to fill in. Please read carefully the code in the cell below and fill the missing parts.

**Hint:**

In reading material you have seen how to split the data into groups based on some criteria and apply a function to each group independently, for example:
```python
temperatures_df.groupby('station_name').mean()```

In this example you apply only one function (``mean()``) to the grouped data. But what if you want to apply more than one function, for example you want to get min and max values, as in our question? In this case you can use ``agg()`` function and a list of functions you want to apply as an argument of it, for instance: 
```python
temperatures_df.groupby('station_name').agg(['min','max'])```

**Important note!**

In the cell below you will see ### START CODE HERE ### and ### END CODE HERE ### flags. These are dummies that are made in order to allow you to make changes in this cell. Don't worry about these flags. In this particular question you don't need to write any code between them.

In [20]:
### START ANSWER HERE ###
### END ANSWER HERE ###

temperatures_df_19cent = temperatures_df[temperatures_df['datetime']<'1900-01-01']
num_stations = temperatures_df_19cent['station_name'].nunique()
print('Number of stations: ', num_stations)

grouped_data = temperatures_df_19cent.groupby('station_name').agg(['mean', 'min', 'max'])
grouped_data

Number of stations:  15

                temperature
                       mean   min   max
station_name
Borås              6.282362 -29.4  31.9
Falsterbo          8.190531 -19.2  26.6
Falun-Lugnet       4.698931 -42.0  31.0
Gällivare A       -1.349447 -42.0  29.0
Halmstad           7.770504 -21.8  31.1
Härnösand          4.089827 -35.1  32.4
Karlshamn          7.740326 -23.0  30.4
Kristianstad       7.706766 -24.6  30.4
Landsort           6.339121 -25.0  33.0
Lund               7.717773 -20.3  31.2
Piteå              2.233807 -41.0  32.1
Stockholm          6.221147 -25.0  32.2
Svenska Högarna    5.831023 -20.8  25.4
Ulricehamn         5.907973 -22.9  32.0
Vinga A            7.542838 -23.5  29.5

**Expected Output**: 
<table style = "width:40%">
    <tr>
    <td>Number of stations</td> 
    <td>15 </td> 
   </tr>
</table>

***
**First three rows of the output table:**
<table style = "width:40%">
   <tr>
    <td>station_name</td> 
    <td>mean </td> 
    <td>min </td> 
    <td>max </td> 
   </tr>
   <tr>
    <td>Borås</td> 
    <td>6.282362 </td> 
    <td>-29.4 </td> 
    <td>31.9</td> 
   </tr>
    <tr>
    <td>Falsterbo</td> 
    <td>8.190531 </td> 
    <td>-19.2 </td> 
    <td>26.6</td> 
   </tr>
    <tr>
    <td>Falun-Lugnet</td> 
    <td>4.698931 </td> 
    <td>-42.0 </td> 
    <td>31.0</td> 
   </tr>
</table>

In [ ]:
# nbgrader cell

# Good job!